name: MeTTaLog CI

on:
  push:
    branches:
      - ref/PeTTa
  pull_request:
    branches:
      - ref/PeTTa

jobs:
  setup-and-test:
    runs-on: ubuntu-latest
    container:
      image: bluesky21/petta:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run PeTTa test
        run: |
          python3 scripts/run-tests.py